---
import Card from "./Card.astro";
import { datita } from "../scripts/datita.js";
import Container from "./Container.astro";

let filteredData = datita;

function handleSearch(event:any) {
  const searchValue = event.target.value.toLowerCase();
  filteredData = datita.filter(item =>
    item.nombre.toLowerCase().includes(searchValue)
  );
}
---

<Container>
  <form class="max-w-md mx-auto my-10" onsubmit="return false;"></form>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        <!-- Icono SVG aquí -->
      </div>
      <input
        type="search"
        id="default-search"
        class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-red-500 focus:border-red-500"
        placeholder="Oferta academica"
        required
        oninput="{handleSearch}"
      />
      <button
        class="text-white absolute end-2.5 bottom-2.5 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"
        >Buscar</button
      >
    </div>
  </form>
  <div class="grid grid-cols-1 sm:grid-cols-3 2xl:grid-cols-4">
    {
      filteredData.map(({ codcar, nombre, codare, modo, duracion }) => (
        <Card
          codcar={codcar.toString()}
          nombre={nombre}
          codare={codare.toString()}
          modo={modo.toString()}
          duracion={duracion}
          nom={nombre}
        />
      ))
    }
  </div>
</Container>

